/*
---------TOC---------

	1. General
	2. Variables
	3. Mixins
	4. Contents
	5. Slider
    6. Searcher
	7. Highlights
	8. Header
	9. Footer
	10. Form

---------------------
*/
/*
-----[General]------
*/
/* Resposive */
.body {
  background-color: #2c2f35;
}

/*--------------------
-------- Slider ------
------------------- */
.slider {
  background-color: #2c2f35;
}

.slider img {
  width: 100%;
  height: 100%;
}

.slider .slider-text {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  left: 0px;
  bottom: 25%;
  z-index: +1;
}

@media (max-width: 479px) {
  .slider .slider-text {
    bottom: 0%;
  }
}

.slider .slider-text h2 {
  color: #ff9933;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 1em;
}

.slider .slider-text h3 {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-bottom: 1em;
}

/*-------------------
------ Searcher -----
------------------ */
.search {
  margin-top: 2em;
}

@media (max-width: 479px) {
  .search {
    margin-top: 1em;
  }
}

@media (max-width: 479px) {
  .search .form-control {
    margin: 0em 4em 0em 4em;
  }
}

.search .btn-outline-success {
  color: #ff9933;
  border-color: #ff9933;
}

@media (max-width: 479px) {
  .search .btn-outline-success {
    margin: 0.5em 20% 0em 40%;
  }
}

/*--------------------
---- Highlights ------
------------------- */
.highlights {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

@media (max-width: 479px) {
  .highlights {
    margin-top: 0em;
  }
}

.highlights .highlights-title {
  background-color: #2c2f35;
  padding: 20px;
  margin-bottom: 1em;
}

.highlights .highlights-title h1 {
  color: #ff9933;
}

.highlights .highlights-section {
  background-color: #464a53;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  padding: 0em;
  margin-bottom: 1em;
}

.highlights .highlights-section img {
  width: 100%;
}

.highlights .highlights-section h3 {
  color: #ff9933;
  margin-top: 0.5em;
}

.highlights .highlights-section p {
  color: white;
  padding: 0.5em;
}

.highlights .highlights-section button {
  background-color: black;
  color: #ff9933;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.highlights .highlights-section button:hover {
  background-color: #ff9933;
  color: black;
}

/*---------------------
------- Header --------
-------------------- */
.headboard {
  background-color: #2c2f35;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 10%;
  /*-- Logo --*/
  /*-- PC menu --*/
  /*Mobile menu icon*/
  /*Better to no move this div cuz is bootstrap*/
  /*Menu box*/
  /* menu buttons' color */
  /* Color when pass the mouse over */
}

.headboard .logo img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 479px) {
  .headboard .logo img {
    height: 100%;
  }
}

.headboard .navbar-light .navbar-toggler {
  background-color: #ff9933;
}

.headboard .navbar-nav {
  background-color: #2c2f35;
}

.headboard .navbar-light .navbar-nav .nav-link {
  color: #ff9933;
  margin-left: 1em;
}

.headboard .navbar-light .navbar-nav .nav-link:hover {
  color: #663333;
}

/*-- Mobile menu --*/
/*
.menu-mobile{
    display: none;
} 

.menu-mobile {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.menu-mobile-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

    a{
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
        
        &:hover, &:focus{
            color: #f1f1f1;
        }
   
    }

}

.menu-mobile .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
*/
/*----------------------
-------- Footer --------
--------------------- */
.footer {
  background-color: black;
  padding: 1em 0;
  color: white;
}

/*---------------------
-------- Form ---------
-------------------- */
.form {
  margin: auto;
  margin-top: 7em;
  margin-bottom: 2em;
  padding: 10px;
  color: #ff9933;
  /*.btn{
        background-color: $secondary-color;
    }*/
}

.sendalert {
  margin: auto;
  margin-bottom: 2em;
  padding: 10px;
  color: #31bd1f;
}
