/* --------------------

1. Cabecera
2. Slider
3. Búsqueda
4. Sección destacados
5. Pie de Página
6. Responsive

-------------------- */

.body{
    background-color: hsl(222, 10%, 19%);
}

/*---------------------
------ Cabecera -------
-------------------- */

.headboard{
    background-color: hsl(222, 10%, 19%);
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 10%;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
}

/* Menú móvil*/
.only-mobile{
    display: none;
}

.menu-mobile {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.menu-mobile-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

    a{
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
        
        &:hover, &:focus{
            color: #f1f1f1;
        }
   
    }

}

.menu-mobile .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
/*Fin del menú móvil*/

/*Icono del menú en móvil*/
.navbar-light .navbar-toggler{
    background-color: hsl(30, 100%, 60%);
}

/*Caja del menú*/
.navbar-nav{
    background-color: hsl(222, 10%, 19%);
}

/* Color de los botones de menú */
.navbar-light .navbar-nav .nav-link{
    color: hsl(30, 100%, 60%);
    margin-left: 1em;
}

/* Color al pasar el ratón por encima */
.navbar-light .navbar-nav .nav-link:hover{
    color: hsl(0, 33%, 30%);
}

/*--------------------
-------- Slider ------
------------------- */

.slider{
    background-color: hsl(222, 10%, 19%);
}

.slider img{
    width:  100%;
    height: 100%;
}

.slider-text{
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    left: 0px;
    bottom: 25%;
    z-index: +1;
}

.slider-text h2{
    color: hsl(30, 100%, 60%);
    text-shadow: -1px 0 hsl(0, 0%, 0%), 0 1px hsl(0, 0%, 0%), 1px 0 hsl(0, 0%, 0%), 0 -1px hsl(0, 0%, 0%);
    margin: 1em;
}

.slider-text h3{
    color: hsl(0, 0%, 100%);
    text-shadow: -1px 0 hsl(0, 0%, 0%), 0 1px hsl(0, 0%, 0%), 1px 0 hsl(0, 0%, 0%), 0 -1px hsl(0, 0%, 0%);
    padding-bottom: 1em;
}

/*-------------------
------ Búsqueda -----
------------------ */

.search{
    margin-top: 2em;
}

.btn-outline-success{
    color: hsl(30, 100%, 60%);
    border-color: hsl(30, 100%, 60%);
}

/*--------------------
- Sección Destacados -
------------------- */

.highlights{
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
}

.highlights-title{
    background-color: hsl(222, 10%, 19%);
    padding: 20px;
    margin-bottom: 1em;
}

.highlights-section{
    background-color: hsl(222, 9%, 30%);
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2); /* hsl(30, 43%, 35%) */
    max-width: 300px;
    margin: auto;
    padding: 0em;
    margin-bottom: 1em;
}

.highlights-title h1{
    color: hsl(30, 100%, 60%);
}

.highlights-section img{
    width: 100%;
}

.highlights-section h3{
    color: hsl(30, 100%, 60%);
    margin-top: 0.5em;
}

.highlights-section p{
    color: hsl(0, 0%, 100%);
    padding: 0.5em;
}

.highlights-section button{
    background-color: hsl(0, 0%, 0%);
    color: hsl(30, 100%, 60%);
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.highlights-section button:hover{
    background-color: hsl(30, 100%, 60%);
    color: hsl(0, 0%, 0%);
}

/*----------------------
----- Pie de página ----
--------------------- */

.footer{
    background-color: hsl(0, 0%, 0%);
    padding: 1em 0;
    color: hsl(0, 0%, 100%);
}

/*----------------------
------ Responsive ------
----------------------*/

/*Ordenador - pantalla grande*/
@media (min-width:992px) and (max-width:1400px){

}

/*Ordenador - pantalla pequeña*/
@media (min-width:768px) and (max-width:991px){

}

/*Tablet*/
@media (max-width:767px){

}

/*Móvil*/
@media (max-width:479px){
    
    .logo img{
        height: 100%;
    }
    
    .slider-text{
        bottom: 0%;
    }

    .search{
        margin-top: 1em;
    }

    .form-control{
        margin: 0em 4em 0em 4em;
    }

    .btn-outline-success{
        margin: 0.5em 20% 0em 40%;
    }

    .highlights{
        margin-top: 0em;
    }

    /*cambios por el menú móvil*/
    .only-mobile{
        display: inline;
    }

    .menu-mobile{
        overflow-y: auto;
    }
    
    .menu-mobile a{
        font-size: 20px
    }
    
    .menu-mobile .closebtn{
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
    
    .btn-group{
        display: none;
    }
    /*fin de cambios del menú móvil*/
}