/*---------------------
------- Header --------
-------------------- */

.headboard{
    background-color: $primary-color;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 10%;

    /*-- Logo --*/
    .logo {

        img{
            max-width: 100%;
            max-height: 100%;
        }
    
        @include respond-to("xs"){
            img{
                height: 100%;
            }
        }
    } 

    /*-- PC menu --*/

    /*Mobile menu icon*/
    /*Better to no move this div cuz is bootstrap*/
    .navbar-light .navbar-toggler{
        background-color: $secondary-color;
    }

    /*Menu box*/
    .navbar-nav{
        background-color: $primary-color;
    }

    /* menu buttons' color */
    .navbar-light .navbar-nav .nav-link{
        color: $secondary-color;
        margin-left: 1em;
    }

    /* Color when pass the mouse over */
    .navbar-light .navbar-nav .nav-link:hover{
        color: $secondary-color-dark;
    }

}

/*-- Mobile menu --*/
/*
.menu-mobile{
    display: none;
} 

.menu-mobile {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.menu-mobile-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

    a{
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
        
        &:hover, &:focus{
            color: #f1f1f1;
        }
   
    }

}

.menu-mobile .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
*/

