/*--------------------
---- Highlights ------
------------------- */

.highlights{
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
    @include respond-to("xs"){
        margin-top: 0em;
    }

    .highlights-title{
        background-color: $primary-color;
        padding: 20px;
        margin-bottom: 1em;
    
        h1{
            color: $secondary-color;
        }
    
    }

    .highlights-section{
        background-color: $primary-color-light;
        box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        padding: 0em;
        margin-bottom: 1em;
    
        img{
            width: 100%;
        }
        
        h3{
            color: $secondary-color;
            margin-top: 0.5em;
        }
        
        p{
            color: $white;
            padding: 0.5em;
        }
        
        button{
            background-color: $black;
            color: $secondary-color;
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
    
            &:hover{
                background-color: $secondary-color;
                color: $black;
            }
        
        }
    
    }
    
}





