/*-------------------
------ Searcher -----
------------------ */

.search{
    margin-top: 2em;
    @include respond-to("xs"){
        margin-top: 1em;
    }

    @include respond-to("xs"){
        .form-control{
            margin: 0em 4em 0em 4em;
        }
    }
    
    .btn-outline-success{
        color: $secondary-color;
        border-color: $secondary-color;
        @include respond-to("xs"){
            margin: 0.5em 20% 0em 40%;
        }
    }
}

