/*--------------------
-------- Slider ------
------------------- */

.slider{
    background-color: $primary-color;

    img{
        width:  100%;
        height: 100%;
    }

    .slider-text{
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
        position: absolute;
        left: 0px;
        bottom: 25%;    
        z-index: +1;
        @include respond-to("xs"){
            bottom: 0%;
        }
    
    
        h2{
            color: $secondary-color;
            text-shadow: $text-shadow;
            margin: 1em;
        }
        
        h3{
            color: $white;
            text-shadow: $text-shadow;
            padding-bottom: 1em;
        }
    
    }

}

