/*---------------------
-------- Form ---------
-------------------- */

.form{

    margin: auto;
    margin-top: 7em;
    margin-bottom: 2em;
    padding: 10px;
    color: $secondary-color;

    /*.btn{
        background-color: $secondary-color;
    }*/

}

.sendalert{
    margin: auto;
    margin-bottom: 2em;
    padding: 10px;
    color: #31bd1f;
}