//typography


//colors
$primary-color: hsl(222, 10%, 19%);
$primary-color-light: hsl(222, 9%, 30%);
$primary-color-dark: hsl(0, 0%, 0%);
$secondary-color: hsl(30, 100%, 60%);
$secondary-color-light: hsl(40, 100%, 69%);
$secondary-color-dark: hsl(0, 33%, 30%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

//style
$text-border: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
$text-shadow: -1px 0 hsl(0, 0%, 0%), 0 1px hsl(0, 0%, 0%), 1px 0 hsl(0, 0%, 0%), 0 -1px hsl(0, 0%, 0%);;
